$background: #011928;

$foreground: #a5adc5;
$foreground-2: #d5ddf8;

$accent: #fab720;
$secondary: #a5adc53f;

// "Projects"
$heading-1: clamp(3rem, 8vw, 10rem);

// "Subleasy", "Theologos"
$heading-2: clamp(2rem, 6vw, 4rem);

// "Hey, my name is"
$heading-3: clamp(1.2rem, 2vw, 1.5rem);

$body: clamp(1rem, 4vw, 1.25rem);