.app {
    display: flex;
    flex-direction: column;
    row-gap: 10rem;

    .top-bar-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;

        // sticky properties
        top: 0;
        position: sticky;
        animation: 0.75s slide-left ease;
        width: 100%;

        .theme-toggle {
            cursor: pointer;
        }
    }

    .greeting-section {
        margin-left: 12rem;
        animation: slide-down 0.75s ease;
    }

    .experience-section {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-left: 10rem;
    }

    .projects-section {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        
        h3 {
            margin-left: 10rem;
        }
    }
}

.app.light {
    background-color: #ffffff;
    color: #000000;

    .top-bar-section {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(40px);
    }
}

.app.dark {
    background-color: #000000;
    color: #ffffff;

    .top-bar-section {
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(40px);
    }
}

@media (max-width: 1200px)  {
    .app {
        .greeting-section {
            margin-left: 6rem;
        }

        .experience-section {
            margin-left: 4rem;
        }

        .projects-section {

            h3 {
                margin-left: 4rem;
            }
        }
    }
}

@media (max-width: 480px)  {
    .app {
        row-gap: 6rem;

        .top-bar-section {
            display: flex;
            justify-content: center;
            animation: slide-down 1s ease;
        }

        .greeting-section {
            margin: 0 1rem;
        }

        .experience-section {
            align-items: center;
            row-gap: 3rem;
            margin: 1rem;
        }

        .projects-section {
            align-items: center;
            row-gap: 3rem;

            h3 {
                margin-left: 0;
            }
        }
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        margin-left: 1%;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        margin-top: -1%;
    }

    to {
        opacity: 1;
        margin-bottom: 0;
    }
}