.greeting {
    
    h1 {
        margin-bottom: 2rem;
    }
    
    span {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px)  {
    .greeting {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
     
        span {
            font-size: 1rem;
        }
    }
}